<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="welcome-card">
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>
          Welcome to Ionic With Totvs Theme
          
          <span class="thf-icon thf-icon-agro-business"></span>
    
          <span class="thf-icon thf-icon-clock"></span>
      
          <span class="thf-icon thf-icon-like"></span>
      
          <span class="thf-icon thf-icon-star"></span>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
          
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <ion-text color="secondary">
            <h1>H1: The quick brown fox jumps over the lazy dog</h1>
          </ion-text>
          
          <ion-text color="primary">
            <h2>H2: The quick brown fox jumps over the lazy dog</h2>
          </ion-text>
          
          <ion-text color="light">
            <h3>H3: The quick brown fox jumps over the lazy dog</h3>
          </ion-text>
          
          <ion-text color="danger">
            <h4 >H4: The quick brown fox jumps over the lazy dog</h4>
          </ion-text>
          
          <ion-text color="dark">
            <h5>H5: The quick brown fox jumps over the lazy dog</h5>
          </ion-text>
          
          <p>
            I saw a werewolf with a Chinese menu in his hand.
            Walking through the <ion-text color="danger"><sub>streets</sub></ion-text> of Soho in the rain.
            He <ion-text color="primary"><i>was</i></ion-text> looking for a place called Lee Ho Fook's.
            Gonna get a <ion-text color="secondary"><a>big dish of beef chow mein.</a></ion-text>
            <ion-text color="danger"><ion-icon name="cut"></ion-icon></ion-text>
          </p>
      </ion-card-content>
    </ion-card>
</ion-content>
